---
import Layout from '../layouts/Layout.astro';
import InfoBar from '../components/InfoBar.astro';
import '../styles/DescribedLink.css';
---

<Layout title="Amiah Belle Isle">
	<InfoBar />
	<main>
		<div>
			<h1>Professional Summary</h1>
			<p>&emsp; I'm a computer science student eager to start my software engineering career. I am highly motivated and self driven. I pride myself in my ability to do high quality work, which has placed me on my school's dean's list for academic achievement.</p>
		</div>
		<div>
			<h1>Skills</h1>
			<ul>
				<li>Java</li>
				<li>Python</li>
				<li>C++</li>
				<li>Bash</li>
				<li>GitHub</li>
				<li>SQL</li>
				<li>JSON</li>
				<li>Familiar with Linux and Windows operating systems.</li>
			</ul>
		</div>
		<div>
			<h1>Education</h1>
			<p>&emsp; Lakeland University, Wisconsin<br/>
			   &emsp; <b>Major: </b>Computer Science<br/>
			   &emsp; Expected to graduate 2025<br/></p>
		</div>
		<div>
			<h1>Projects</h1>

			{/*This website*/}
			<div class="described-link">
				<div class="dl-title">
			
				<a href="https://github.com/AmiahBelleIsle/hardware-spec-get">Hardware Specification Getter<img style="display: inline; padding-left: 0.4rem; vertical-align:sub" src="../external-link-simple-pink.svg" /></a>
			
				<p>Java</p>
			
				</div>
				<div class="dl-content">
				<p>JavaFX application that collects the user's hardware information, which is then displayed in an interactive GUI. Stores user preferences using JSON. Uses Maven to manage dependencies.</p>
				</div>
			</div>
			
			{/*Python Noise Gen*/}
			<div class="described-link">
				<div class="dl-title">
			
				<a href="https://github.com/AmiahBelleIsle/python_noise_generator">Image Noise Generator <img style="display: inline; padding-left: 0.2rem; vertical-align:sub" src="../external-link-simple-pink.svg" /></a>
			
				<p>Python</p>
			
				</div>
				<div class="dl-content">
				<p>A GUI application made with tkinter and PIL that allows the user to generate an image of noise and save it to their computer.</p>
				</div>
			</div>

			{/*Bash ff apt*/}
			<div class="described-link">
				<div class="dl-title">
			
				<a href="https://github.com/AmiahBelleIsle/apt-install-firefox-script">Automated Debian Firefox Install Script<img style="display: inline; padding-left: 0.4rem; vertical-align:sub" src="../external-link-simple-pink.svg" /></a>
			
				<p>Bash</p>
			
				</div>
				<div class="dl-content">
				<p>A bash script that automates the process of installing Firefox on Debian based systems using APT.</p>
				</div>
			</div>
  
		</div>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: fit-content;
		max-width: calc(100% - 2rem);
		color: #f9d8d2;
		font-size: large;
		line-height: 1.6;
	}
	ul {
		list-style-type:disc;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	ul li {
		margin-right: 2rem;
	}
	h1::after {
		content: "";
		position:absolute;
		display: block;
		background: linear-gradient(90deg,#f9d8d2 66%,  #121738);
		border-radius: 5%;
		height: 5px;
		width: calc(95% - 2rem);
	}
	{/*Desktop Styling*/}
	@media (min-width: 769px){
		main {
			margin: 0;
			margin-left: 30.5vw;
			margin-right: 10vw;
			width: fit-content;
		}
		h1::after {
			width: calc(55% - 2rem);
		}
	}
	
</style>
